body {
    background-color: #f4f4f4;
}

#mainSection {
    border: 2px solid #dcdcdc;
}

header {
    text-align: center;
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
}

h1 {
    font-size: 28px;
}
h2 {
    font-size: 20px;
}